.box {
  animation: category-animation 1s ease;
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards
}
.animated {
  animation: button-animation 1s infinite;
  animation-fill-mode: forwards
}
@keyframes category-animation {
  0% {
    opacity: 0;
    transform: translateX(100%)  
    
  }
  1%{
    opacity: 1;
  }
 
  100% {
    opacity: 1;
    transform: translateX(0px);
    
  }
}
@keyframes button-animation {
  0% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0px);
  }
}
.slide-enter {
    transform: translateX(-100%);
    transition-duration: 1000ms
  }
  
  .slide-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
    transition-duration: 1500ms
  }
  
  .slide-exit {
    transform: translateX(0);
  }
  
  .slide-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms;
  }
  .right-slide-enter {
    transform: translateX(100%);
    transition-duration: 5000ms;
  }
  
  .right-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
    transition-duration: 5500ms;
  }
  
  .right-slide-exit {
    transform: translateX(0);
  }
  
  .right-exit-active {
    transform: translateX(100%);
    transition: transform 500ms;
  }
  