.box {
  animation: category-animation 1s ease;
}
.animated {
  animation: button-animation 1s infinite;
}
@keyframes category-animation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes button-animation {
  0% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0px);
  }
}
.card-description {
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
